.checkout
{
  margin-left: 50%;
  transform: translateX(-50%);
  position: absolute;   
}
.zalora
{
    width: 20%;
}
.header
{
    margin: 0px;
    padding: 10px;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 40px;
    background-color: black;
    color: azure;
    overflow: hidden;
}
.pesan
{
    float: left;
    margin-left: 7%;
}
.box
{
    border: 1px solid silver;
    margin: 10px;
    padding: 5%;
    width: 230px;
    margin-left: 35%;
}
.header2
{
    margin: 0px;
    padding: 1px;
    margin-right: 0%;
    margin-left: 0%;
    background-color: rgb(85, 84, 84);
    color: azure;
    margin-bottom: 50px;
    overflow: hidden;
}
.add
{
    margin-left: 43%;
}
.button
{
    margin-left: 33%;
}
.save
{
    padding: 17px 115px;
    background-color: black;
    border: 0;
    cursor: pointer;
    font-size: 11pt;
    color: white;
    outline: none;
    font-weight: bold;
}