.checkout
{
  margin-left: 50%;
  transform: translateX(-50%);
  position: absolute;   
}
.zalora
{
    width: 20%;
}
.header
{
    margin: 0px;
    padding: 10px;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 40px;
    background-color: black;
    color: azure;
    overflow: hidden;
}
.pesan
{
    float: left;
    margin-left: 7%;
}
.pesan1
{
    float: left;
    margin-left: 50%;
}
.free
{
    float: left;
    margin-left: 73%;
}
.box
{
    margin: 0px;
    padding: 5%;
}
.header2
{
    margin: 0px;
    padding: 5px;
    margin-right: 0%;
    margin-left: 0%;
    background-color: rgb(85, 84, 84);
    color: azure;
    margin-bottom: 50px;
    overflow: hidden;
}
.add
{
    margin-left: 40%;
    border: 1px solid silver;
    width: 200px;
    padding: 20px;
    margin-bottom: 20px;
}
.model
{
    margin-top: 10px;
    width: 160px;
}
.button
{
    margin-left: 39%;
}
.save
{
    
}
.merek
{
    margin-left: 180px;
    width: 300px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(83, 80, 80);
}
.h1{
    float: left;
    margin-left: 75%;
}